a{
	color:green !important;
}
body{
	background-color: #fcf1db;
	text-align: center;
	font-family: 'Raleway', 'arial',sans-serif;
}
div{
	color:#282828;
}
h1{
	color: #282828;
    font-weight: 900;
    font-size: 61px;
}
h2{
	font-weight: 100;
}
.context{
	max-width: 800px;
    margin: auto;
    margin-bottom: 64px;
    padding: 0;
    margin-top: 130px;
}