{% load staticfiles %}
{% block extra_head  %}
   <title>Pikseladam.com | </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href='https://fonts.googleapis.com/css?family=Raleway:400,900,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/kube.min.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" />
{% endblock %}
<body>
	<div class="context">
	<row>
	    <column cols="12">
			<h1>Pikseladam</h1>
			<h2>Bu sitede virüs yoktur.</h2>
		</column>
	</row>
	<row>
	<blocks cols="3">
	    <div>
	        <img src="http://dummyimage.com/600x400/e6e6e6/121212.png" />
	    </div>
	    <div>
	        <img src="http://dummyimage.com/600x400/e6e6e6/121212.png" />
	    </div>
	    <div>
	        <img src="http://dummyimage.com/600x400/e6e6e6/121212.png" />
	    </div>
	    <div>
	        <img src="http://dummyimage.com/600x400/e6e6e6/121212.png" />
	    </div>
	    <div>
	        <img src="http://dummyimage.com/600x400/e6e6e6/121212.png" />
	    </div>
	    <div>
	        <img src="http://dummyimage.com/600x400/e6e6e6/121212.png" />
	    </div>
	</blocks>
	</row>
</div>
</body>
{% block content %}{% endblock %}
